extends master

block content
	section#articles
		div.container
			div.row
				div(class='col-sm-4 leftbar')
					- if(typeof sidebar !== 'undefined' && sidebar.length > 0)
						for sidebarRecipe in sidebarRecipes
							div.recipe-tile
								a(href='/recipes/#{sidebarRecipe.url}')
									div(class='img-container' style='background-image: url("/uploads/#{sidebarRecipe.image.path}/#{sidebarRecipe.image.name.new}.#{sidebarRecipe.image.extension}");')
									p.tags= sidebarRecipe.tags
									h2= sidebarRecipe.title
									if sidebarRecipe.description
										p.description= sidebarRecipe.description 
								div.petbrosia Submitted by: 
									a(href='http://petbrosia.com', target="_blank")
										img(src='/images/petbrosia.png')
				block innerContent
