extends ./layouts/sidebar

block innerContent
	div(class='col-sm-8 rightbar')
		for recipe in recipes
			div.recipe-tile
				a(href='/recipes/#{recipe.url}')
					div(class='img-container' style='background-image: url("./uploads/#{recipe.image.path}/#{recipe.image.name.new}.#{recipe.image.extension}");')
					p.tags= recipe.tags
					h2= recipe.title
					if recipe.details.description
						p.description= recipe.details.description
					div.social
						span
							img(src='/images/ingredients.jpg')
							div
								p.provided Submitted by:
								if recipe.username
									p.user= recipe.username
								else
									p.user Anonymous
						span.shares 4 Shares


