extends ./../layouts/sidebar

block innerContent
	div(class='col-sm-8 rightbar')
		div.recipe-tile
			div(class='img-container' style='background-image: url("../uploads/#{recipe.image.path}/#{recipe.image.name.new}.#{recipe.image.extension}");')
			if user && recipe.user_id.username == user.username
				div.modify
					a(href='/recipes/#{recipe.url}/edit') Edit
					a(href='/recipes/#{recipe.url}/delete') Delete
			if recipe.tags
				p.tags= recipe.tags
			h2= recipe.title
			if recipe.details.description
				p.description= recipe.details.description
			div.social
				span
					if recipe.user_id
						img(src='/uploads/#{recipe.user_id.image.avatar.path}/#{recipe.user_id.image.avatar.name.new}.#{recipe.user_id.image.avatar.extension}')
					if !recipe.user_id
						img(src='/uploads/users/avatars/user-avatar.jpg')
					div
						p.provided Submitted by:
							if recipe.user_id
								p.user= recipe.user_id.username
							else
								p.user Anonymous
				div.shares
					a(href='https://www.facebook.com/sharer/sharer.php?u=http://petplate.es/recipes/#{recipe.url}', target='_blank', class='facebook')
					a(href='http://www.twitter.com/share?url=http://petplat.es/recipes/#{recipe.url}', target='_blank', class='twitter')
					a(href='http://pinterest.com/pin/create/button/?url=http://petplat.es/recipes/#{recipe.url}&media=https://{{post.image.url}&description={{post.description}}', target='_blank', class='pinterest')
			div.metadetails
				if recipe.details.prep_time
					p.preptime= recipe.details.prep_time
				if recipe.details.cook_time
					p.cooktime= recipe.details.cook_time
				if recipe.details.servings
					p.servings= recipe.details.servings
			div.ingredients
				h3 Ingredients:
				for ingredient in recipe.ingredients
					p= ingredient
			div.directions
				h3 Directions:
				for direction in recipe.directions
					p= direction
			div.clear
