extends ./../layouts/sidebar

block innerContent
	div(class='col-sm-8 rightbar')
		div.recipe-tile
			div(class='img-container' style='background-image: url("./uploads/#{recipe.image.path}/#{recipe.image.name.new}.#{recipe.image.extension}");')
			if user && recipe.username == user.username
				div.modify
					a(href='/recipes/#{recipe.url}/edit') Edit
					a(href='/recipes/#{recipe.url}/delete') Delete
			if recipe.tags
				p.tags= recipe.tags
			h2= recipe.title
			if recipe.details.description
				p.description= recipe.details.description
			div.social
				span
					img(src='/images/ingredients.jpg')
					div
						p.provided Submitted by:
						if recipe.username
							p.user= recipe.username
						else
							p.user Anonymous
				div.shares
					a(href='/recipes/#{recipe.url}', class='facebook')
					a(href='/recipes/#{recipe.url}', class='twitter')
					a(href='/recipes/#{recipe.url}', class='pinterest')
			div.metadetails
				if recipe.details.prep_time
					p.preptime= recipe.details.prep_time
				if recipe.details.cook_time
					p.cooktime= recipe.details.cook_time
				if recipe.details.servings
					p.servings= recipe.details.servings
			div.ingredients
				h3 Ingredients:
				for ingredient in recipe.ingredients
					p= ingredient
			div.directions
				h3 Directions:
				for direction in recipe.directions
					p= direction
			div.clear
